* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --color-primary: #CA3884;
    --color-secondary: #A52C6B;
    --color-tertiary: #F4F5FB;

    --color-error: #C93847;

    --color-content-primary: #080B12;
    --color-content-secondary: #374151;
    --color-content-tertiary: #9CA3AF;

    --color-border-primary: #D1D5DB;
    --color-border-secondary: #B9C2D0;

    --font-family: Inter, sans-serif;
    --h1: 700 1.5rem/2rem var(--font-family);
    --label: 600 1rem/1.25rem var(--font-family);
    --p: 500 1rem/1.25rem var(--font-family);
    --a: 500 0.875rem/1rem var(--font-family);
}

body {
    background-color: var(--color-tertiary);
    font: var(--p);
    margin-block: 1.5rem;
}

h1 {
    font: var(--h1);
    margin-top: 1rem;
}

header {
    display: flex;
    justify-content: center;
}

main {
    max-width: 40rem;
    margin-inline: auto;
}

.back {
    color: #CA3884;
    margin-top: 3.875rem;
}

.add-item {
    display: flex;
    margin: 2.75rem 0 2.5rem;
    height: 2.75rem;
    justify-content: space-between;
}

input {
    width: 28rem;
    height: 100%;
    border-radius: 12px;
    border: 2px solid var(--color-border-primary);
    padding: 1.125rem;
    color: var(--color-content-tertiary);
}

button {
    width: 10rem;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 12px;
    border: none;
    font: var(--label);
    color: #FFF;
}