* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --color-primary: #CA3884;
    --color-secondary: #A52C6B;
    --color-tertiary: #F4F5FB;

    --color-attention: #C93847;

    --color-content-primary: #080B12;
    --color-content-secondary: #374151;
    --color-content-tertiary: #9CA3AF;

    --color-border-primary: #D1D5DB;
    --color-border-secondary: #B9C2D0;

    --font-family: Inter, sans-serif;
    --h1: 700 1.5rem/2rem var(--font-family);
    --label: 600 1rem/1.25rem var(--font-family);
    --p: 500 1rem/1.25rem var(--font-family);
    --a: 500 0.875rem/1rem var(--font-family);
}

body {
    background-color: var(--color-tertiary);
    font: var(--p);
    margin-block: 1.5rem;
}

h1 {
    font: var(--h1);
    margin-top: 1rem;
}

header {
    display: flex;
    justify-content: center;
}

main {
    max-width: 40rem;
    margin-inline: auto;
}

.back {
    color: #CA3884;
    margin-top: 3.875rem;
}

.add-item {
    display: flex;
    margin: 2.75rem 0 2.5rem;
    height: 2.75rem;
    justify-content: space-between;
}

input {
    width: 28rem;
    height: 100%;
    border-radius: 12px;
    border: 2px solid var(--color-border-primary);
    padding: 1.125rem;
    color: var(--color-content-tertiary);
}

input:hover {
    border: 2px solid var(--color-border-secondary);
}

/* input:active {
    border: 2px solid var(--color-primary);
} */

button {
    width: 10rem;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 12px;
    border: none;
    font: var(--label);
    color: #FFF;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-secondary);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.list-item {
    display: flex;
    background-color: #FFF;
    width: 100%;
    height: 3.06rem;
    border-radius: 12px;
    padding: 0.75rem;
    color: var(--color-content-secondary);
    list-style: none;
    align-items: center;
    gap: 8.5px;

    .item-description {
        flex: 1;
    }

    i.trash {
        color: var(--color-content-tertiary);
    }
}

.checkbox {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 6px; 
    border: 1px solid var(--color-border-primary);
    cursor: pointer;
}

.checkbox:hover {
    border: 1px solid var(--color-border-secondary);
}

.remove {
    background-color: var(--color-attention);
    width: 100%;
    height: 2.75rem;
    border-radius: 12px;
    padding: 12px;
    font: var(--label);
    color: #FFF;
    margin-top: 2.25rem;
    display: flex;
    align-items: center;
    gap: 8px;

    i.exclamation {

    }
}